    	<!-- Top Bar -->
        <section id="top-bar">&nbsp;</section>
        <!-- Top Bar End -->
        
        <!-- Logo -->
        <div class="container">
        	<div class="row">
                <div class="col-md-12">
                	<div class="text-center">
                    	<a href="/" class="logo scroll-link" data-id="home"><img src="{{ asset('images/Logo.png') }}" alt=""></a>
                  	</div>
                </div>
            </div>
        </div>
        
        <button class="menu-trigger open"><i class="fas fa-bars"></i> Menu</button>
        <nav class="grim">
                <div class="grim__item">
                    <div class="grim__item-bg grim__item-bg--1"></div>
                </div>
                <div class="grim__item">
                    <div class="grim__item-bg grim__item-bg--2"></div>
                </div>
                <div class="grim__item">
                    <div class="grim__item-bg grim__item-bg--3"></div>
                    <div class="grim__item-content">
                        <div class="grim__item-inner">
                            <button class="menu-trigger menu-trigger--close"><i class="fa fa-times" aria-hidden="true"></i> fermer</button>
                        </div>
                    </div>
                </div>
                <div class="grim__item">
                    <div class="grim__item-bg grim__item-bg--4"></div>
                </div>
                <div class="grim__item">
                    <div class="grim__item-bg grim__item-bg--5"></div>
                    <a href="/" class="grim__link grim__item-content">
                        <div class="grim__item-inner">
                            <h3 class="grim__item-title">Accueil</h3>
                        </div>
                    </a>
                </div>
                <div class="grim__item">
                    <div class="grim__item-bg grim__item-bg--6"></div>
                    <div class="grim__item-img grim__item-img--1" style="background-image: url(img/1.jpg);"></div>
                    <a href="/" class="grim__link grim__item-content">
                        <div class="grim__item-inner">
                            <p style='text-align:center'><img src='/images/Logo.png' /></p>
                        </div>
                    </a>
                    <div class="grim__item-bg grim__item-bg-cover grim__item-bg--6"></div>
                </div>
                <div class="grim__item">
                    <div class="grim__item-bg grim__item-bg--7"></div>
                    <div class="grim__item-img grim__item-img--2" style="background-image: url(img/2.jpg);"></div>
                    <a href="/contact" class="grim__link grim__item-content">
                        <div class="grim__item-inner">
                            <h3 class="grim__item-title">Contact</h3>
                            <span class="grim__item-desc">Entrons en contact</span>
                        </div>
                    </a>
                    <div class="grim__item-bg grim__item-bg-cover grim__item-bg--7"></div>
                </div>
                <div class="grim__item">
                    <div class="grim__item-bg grim__item-bg--8"></div>
                    <div class="grim__item-img grim__item-img--3" style="background-image: url(img/3.jpg);"></div>
                    <a href="/blog" class="grim__link grim__item-content">
                        <div class="grim__item-inner">
                            <h3 class="grim__item-title">Blog</h3>
                            <span class="grim__item-desc">Mes derniers articles</span>
                        </div>
                    </a>
                    <div class="grim__item-bg grim__item-bg-cover grim__item-bg--8"></div>
                </div>
                <div class="grim__item">
                    <div class="grim__item-bg grim__item-bg--9"></div>
                    <div class="grim__item-img grim__item-img--4" style="background-image: url(img/4.jpg);"></div>
                    <a href="/portfolio" class="grim__link grim__item-content">
                        <div class="grim__item-inner">
                            <h3 class="grim__item-title">Portfolio</h3>
                            <span class="grim__item-desc">Mes réalisations</span>
                        </div>
                    </a>
                    <div class="grim__item-bg grim__item-bg-cover grim__item-bg--9"></div>
                </div>
                <div class="grim__item">
                    <div class="grim__item-bg grim__item-bg--10"></div>
                    <div class="grim__item-img grim__item-img--5" style="background-image: url(img/5.jpg);"></div>
                    <a href="#content-6" class="grim__link grim__item-content">
                        <div class="grim__item-inner">
                            <h3 class="grim__item-title">A propos</h3>
                            <span class="grim__item-desc">Qui suis-je ?</span>
                        </div>
                    </a>
                    <div class="grim__item-bg grim__item-bg-cover grim__item-bg--10"></div>
                </div>
            </nav>
        </main>

        <!-- Navigation End -->