{% extends 'MyckiBundle::base.html.twig' %}
{% block body_class %} home {% endblock body_class %}
{% block title %} Développeur web à Carcassonne - {{ parent() }} {% endblock %}
{% block body %}
    <div id="wrapper">
        <div class="contenido1 bg-animado-blue">
            <div class="containertome">
                <ul class="titulo fly-in-text hiddden">  <li>M</li>
    <li>Y</li>
    <li>C</li>
    <li>K</li>
    <li>I</li>
    <li>W</li>
    <li>E</li>
    <li>B</li></ul>
            </div>
            <ul class="burbujas">
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
            </ul>
        </div>

  <script type="text/javascript">
    (function($) {
                setTimeout(function() {
                    jQuery('.fly-in-text').removeClass('hiddden');
                }, 500);
            })(jQuery);
  </script>
        <div id="container">


            <div style="clear:both"></div>
            <div id="welcome">
            
                <h1>Création de site internet à Carcassonne</h1>
            </div>

            <div id="next">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi commodi earum expedita facilis
                hic inventore, ipsum itaque labore laborum magni nihil placeat possimus qui quod reiciendis sint unde voluptas voluptate?<br />
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur fuga ipsa maiores quo similique sit voluptas voluptatibus? Omnis pariatur placeat suscipit voluptas voluptatem! Adipisci distinctio facilis iure sed ut.</p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi commodi earum expedita facilis
                hic inventore, ipsum itaque labore laborum magni nihil placeat possimus qui quod reiciendis sint unde voluptas voluptate?<br />
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur fuga ipsa maiores quo similique sit voluptas voluptatibus? Omnis pariatur placeat suscipit voluptas voluptatem! Adipisci distinctio facilis iure sed ut.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi commodi earum expedita facilis
                hic inventore, ipsum itaque labore laborum magni nihil placeat possimus qui quod reiciendis sint unde voluptas voluptate?<br />
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur fuga ipsa maiores quo similique sit voluptas voluptatibus? Omnis pariatur placeat suscipit voluptas voluptatem! Adipisci distinctio facilis iure sed ut.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi commodi earum expedita facilis
                hic inventore, ipsum itaque labore laborum magni nihil placeat possimus qui quod reiciendis sint unde voluptas voluptate?<br />
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad consequatur fuga ipsa maiores quo similique sit voluptas voluptatibus? Omnis pariatur placeat suscipit voluptas voluptatem! Adipisci distinctio facilis iure sed ut.
            </div>

        </div>
    </div>

{% endblock %}
