{% extends 'MyckiBundle::base.html.twig' %}
{% block title %} Développeur web à Carcassonne - {{ parent() }} {% endblock %}
{% block body %}
    <div id="wrapper">
        <div class="contenido1 bg-animado-blue">
            <div class="containertome">
                <h1 class="titulo">Développeur Web à Carcassonne</h1>
            </div>
            <ul class="burbujas">
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
                <li><span></span></li>
            </ul>
        </div>
        <div id="container">


            <div style="clear:both"></div>
            {{  form(form) }}

        </div>
    </div>

{% endblock %}

{% block stylesheets %}

{% endblock %}
